<div class="container" id="containerview">

                <h1 id="containerwell" class="well" align="center">Container Management</h1>

  
  
                <div class="col-sm-6" id="leftside">
                    
                        <h1 align="center">Tablets in Container</h1>
  
  
                       <h3 align="left"> <b>{{currentContainer.name}}</b> </h3>
                     
                        <ul  class="tablets">
                            <li id="tabsincontainer" ng-repeat="tablet in currentContainer.tablets | filter:{name: query } | orderBy:orderProp" class="thumbnail">
                        
                                    <b>    Name:</b>  {{tablet.name}} , 
                                    <b>    Dose:</b>  {{tablet.dose}} , 
                                    <b>    Amount To Take:</b>  {{tablet.amountToTake}} , 
                                    <b>    Total Amount:</b>  {{tablet.totalAmount}}
                                    
                                    <button class="btn btn-xs pull-right btn-danger" ng-click="removeTabletFromContainer(tablet)">Remove From Container</button>
                        
                        </div>
  
  
  
  
                
                <!--  <hr width="10" size="500"--> 
                    <div class="col-sm-6" id="rightside">
                    
                        <h1 align="center">Tablets in Database</h1>
                    
                    
                        <ul  class="tablets">
                            <li ng-repeat="tablet in tablets | filter:{name: query } | orderBy:orderProp" class="thumbnail">
                            <!--   <a href="#/tablets/{{tablet.id}}" class="thumb"><img ng-src="{{tablet.imageUrl}}"></a>  -->
                            <img src="./img/pillsColour" width="90" height="90" class="pull-left"> 
  
                                    <b>    Name:</b>  {{tablet.name}} , 
                                    <b>    Dose:</b>  {{tablet.dose}} , 
                                    <b>    Amount To Take:</b>  {{tablet.amountToTake}} , 
                                    <b>    Total Amount:</b>  {{tablet.totalAmount}}
                                    
                                    <button class="btn btn-xs pull-right btn-primary" ng-click="addTabletToContainer(tablet)">Add To Container</button>
  
                            </li>
                          </ul>
                    </div>
  
            </div>
  
            
    