<div class="container" id="containerview">

                <h1 id="containerwell" class="well" align="center">Container Management</h1>

  
  
                <div class="col-sm-6" id="leftside">
                    
                        <h1 align="center">Tablets in Container</h1>
  

                <div id="containerdata" class="well">  
                <h4>    <b>Name:</b> {{currentContainer.name}},<b>Status:</b> {{tabletBoxMessage}},<b>Date:</b> {{date}}
                </div>

                        <ul  class="tablets" >
                            <li id="tabsincontainer" ng-repeat="tablet in currentContainer.tablets | filter:{name: query } | orderBy:orderProp" class="thumbnail">
                        
                                    <b>    Name:</b>  {{tablet.name}} , 
                                    <b>    Dose:</b>  {{tablet.dose}} , 
                                    <b>    Amount To Take:</b>  {{tablet.amountToTake}} , 
                                    <b>    Total Amount:</b>  {{tablet.totalAmount}}
                                    
                                    <button class="btn btn-xs pull-right btn-danger" ng-click="removeTabletFromContainer(tablet)">Remove</button>
                        
                        </div> 




  
                    <div class="col-sm-6" id="rightside">
                    
                        <h1 align="center">Tablets in Database</h1>
                    
                    
                        <ul  class="tablets" id="righttabs">
                            <li ng-repeat="tablet in tablets | filter:{name: query } | orderBy:orderProp" class="thumbnail">
                                
                                <img src="./img/pillsColour" width="90" height="90" class="pull-left"> 
                                
                                    <b>    Name:</b>  {{tablet.name}} , 
                                    <b>    Dose:</b>  {{tablet.dose}} , 
                                    <b>    Amount To Take:</b>  {{tablet.amountToTake}} , 
                                    <b>    Total Amount:</b>  {{tablet.totalAmount}}
                                    
                                    <button class="btn btn-xs pull-right btn-primary" ng-click="addTabletToContainer(tablet)">Add to Container</button>
                                
                            </li>
                          </ul>
                    </div>
  
</div>
  
            
    