   

     <!--start container  -->
      <div class="container" >
        <h1 class="well">Create a new container</h1>
        <div class="col-sm-12 well">
          <div class="row">

              <form class="form">
                <div class="form-group">
                      <label>Container Name </label>
              <input type="text" class="form-control" placeholder="Enter Container name" ng-model="container.name">
               <button type="submit" class="btn pull-right btn-primary" ng-click="createContainer(container)">
                            Create Container
                        </button>
                    </div>
                </div>
            </form>

          </div>
        </div>
      </div> <!-- end container add tablets -->
       

