   

     <!--start container add tablets -->
      <div class="container" >
        <h1 class="well">Add Tablets to the database</h1>
        <div class="col-sm-12 well">
          <div class="row">

                            <form class="form">
                           <div class="form-group">
                            <label>Tablet Name </label>
                            <input type="text" class="form-control" placeholder="Enter tablet name" ng-model="tablet.name">
                            <label>Dose </label>
                            <input type="text" class="form-control" placeholder="Enter Dose" ng-model="tablet.dose">
                            <label>Amount To Take </label>
                            <input type="text" class="form-control" placeholder="Enter amount to take" ng-model="tablet.amountToTake">
                            <label>Total Amount </label>
                            <input type="text" class="form-control" placeholder="Enter total amount" ng-model="tablet.totalAmount">
                            <label>Description:</label>
                            <textarea class="form-control" rows="5" placeholder="Enter description" placeholder="Enter total amount"ng-model="tablet.description"></textarea>
                                <button type="submit" class="btn pull-right btn-primary" ng-click="addTablet(tablet)">Add Tablet</button>
                    </div>
                  </form>
                </div>
           

          </div>
        </div>
      </div> <!-- end container add tablets -->
       


  

