

<div class="container">
    <h1 class="well" align="center">Tablet Records</h1>
        
    
          <div class="col-lg-12 well">  <!-- Will need ng-repeat loop here to display 
                                              date/times tablets were taken -->


                
                                              <table class="table" >
                                                {{currenContainer.name}}
                                                <thead>
                                                    <tr>
                                                        <th>Tablet Name</th>
                                                        <th>Dose</th>
                                                        <th>Amount To Take</th>
                                                        <th>Total Amount</th>
                                            
                                                    </tr>
                                                </thead>
                                                <tbody ui-sortable>
                                                    <tr ng-repeat="tablet in currentContainer.tablets" class="t-row">
                                                        <td>
                                                            <p>{{tablet.name}}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{tablet.dose}}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{tablet.amountToTake}}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{tablet.totalAmount}}</p>
                                                        </td>
                                                        <td>
                                                            <br>
                                                            <button class="btn btn-xs pull-right btn-danger" ng-click="removeTabletFromContainer(tablet)">Remove</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <br>
                                            </table>
                          
                  
      </div>


</div>
