<div class="container">
  <h1 class="well" align="center">Tablet Monitor App</h1>
  <!--
    Click here to <a href="#/register">Register</a> or <a href="#/login">Login</a>
 -->
  <div class="col-lg-20 well">
    <div class="row">


      <div class="row">
        <div class="col-md-2">
          <!--Sidebar content-->

          <b>Search:</b>
          <input class="search" ng-model="query">
          <b>Sort by:</b>
          <select ng-model="orderProp">
            <option value="name">A to Z</option>
            <option value="age">Newest</option>
          </select>
        </div>


        <div class="col-md-8">
          <ul class="tablets">
            <li ng-repeat="tablet in tablets | filter:{name: query } | orderBy:orderProp" class="thumbnail">
              <a href="#/tablets/{{tablet.id}}" class="thumb">
                <img ng-src="{{tablet.imageUrl}}">
              </a>

              <a href="#/tablets/{{tablet.id}}">{{tablet.name}}</a>
              <p>{{tablet.snippet}}</p>

          
        </div>

      </div>